# Byte-compiled / optimized / DLL files
__pycache__/
#*.py[cod]
#*$py.class
*.pyc
.pytest_cache

# Eclipse
.classpath
.project
.settings/
.pydevproject

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# log/reports
log
reports
account_list.json
mysql_qa.json

